@charset "UTF-8";
/* Styles Globals */
/*Reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}

/* Styles Components - Globals*/
/* Header */
header {
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
  z-index: 10;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5);
}
header .logo, header #btn_menu, header label {
  display: none;
}
header .menu { /* nav */
  background-color: black;
  top: 60px;
  place-self: center end;
  gap: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .menu a {
  text-decoration: none;
  justify-self: start;
}
header .menu a .logo-hidden {
  height: 120px;
  width: 120px;
  margin-left: 20px;
}
header .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .menu ul li {
  list-style-type: none;
  padding-right: 30px;
}
header .menu ul li .pagina-seleccionada {
  color: #F7D72C;
}
header .menu ul li a {
  font-size: 25px;
  color: aliceblue;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
header .menu ul li a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all 0.8s;
}
header .menu ul li a:hover:after {
  width: 100%;
  background: #F7D72C;
}

/* Footer */
footer {
  text-align: center;
  padding-bottom: 5px;
  border-top: 2px solid white;
  background-color: black;
  display: grid;
}
footer img {
  height: 140px;
  width: 150px;
  top: 50px;
  left: 130px;
  place-self: center;
}
footer .redes {
  padding-bottom: 5px;
}
footer .redes ul {
  margin: 0;
  padding: 0;
}
footer .redes ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 20px 0px 20px;
}
footer .redes ul li a {
  text-decoration: none;
}
footer .redes ul li a img {
  background-color: black;
  height: 30px;
  width: 30px;
  padding: 0;
  filter: none;
}
footer .copyright {
  text-align: center;
  color: white;
  margin-top: 0.5em;
}

/* Styles Pages */
/* Main Index / --HOME-- */
.main-home {
  font-size: 25px;
  text-align: center;
  color: white;
  overflow-x: hidden;
}
.main-home .seccion1 {
  padding-bottom: 10vh;
  padding-top: 10vh;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-home .seccion1 h1 {
  font-size: 3rem;
  font-weight: 750;
  padding: 0 30px 0 30px;
  text-transform: uppercase; /*texto a letra mayúscula*/
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 40px;
}
.main-home .seccion1 h1 strong {
  color: #F7D72C;
}
.main-home .seccion1 p {
  font-size: 1.5rem;
  padding: 0 60px 0 60px;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  padding-bottom: 30px;
}
.main-home .seccion2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#080B0A, #373737);
}
.main-home .seccion2 h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-bottom: 15px;
  margin-top: 15px;
  color: #F7D72C;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.main-home .seccion2 .container-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  padding: 0px 10px 50px 15px;
  flex-wrap: wrap;
}
.main-home .seccion2 .container-cards .card {
  list-style-type: none;
  padding: 10px;
  margin: 15px;
  width: 250px;
  height: 350px;
  box-shadow: 2px 2px 10px #F7D72C;
  border-radius: 10px;
  border: solid 2px black;
  overflow: hidden;
  background-color: white;
  position: static;
}
.main-home .seccion2 .container-cards .card:hover {
  transform: scale(1.1);
}
.main-home .seccion2 .container-cards .card h3 {
  padding-bottom: 30px;
  color: black;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.467);
}
.main-home .seccion2 .container-cards .card p {
  font-size: 18px;
  color: black;
  text-align: center;
}
.main-home .seccion3 {
  padding: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-home .seccion3 h2 {
  text-transform: uppercase;
  padding-bottom: 15px;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.main-home .seccion3 p {
  padding-bottom: 20px;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.main-home .seccion3 a {
  text-decoration: none;
  background-color: #F7D72C;
  font-size: 18px;
  color: black;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 2px 2px 10px white;
  margin: 15px;
  cursor: pointer;
}

/* Main Contacto */
.main-contacto {
  background-color: #121212;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr), 0.5fr;
  gap: 0;
  align-items: none;
  justify-items: none;
  grid-template-areas: "seccion1 seccion1" "seccion2 seccion4" "seccion3 seccion3";
  font-family: cursive;
  font-size: 20px;
  overflow: hidden;
}
.main-contacto .seccion1 {
  grid-area: seccion1;
  text-align: center;
  padding: 5%;
  color: rgba(255, 255, 255, 0.779);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/fondo-grupo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1E1E1E;
}
.main-contacto .seccion1 h1 {
  font-weight: bold;
  color: #F7D72C;
  text-shadow: 3px 3px 5px grey;
}
.main-contacto .seccion1 p {
  color: white;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.main-contacto .seccion2 {
  background-color: white;
  grid-area: seccion2;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin: 30px;
  border-radius: 40px;
  border: solid 2px black;
  box-shadow: 3px 3px 10px #F7D72C;
}
.main-contacto .seccion2 h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}
.main-contacto .seccion2 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  gap: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.main-contacto .seccion2 form .bn31 {
  background-image: linear-gradient(to right, #cf9519 0%, rgb(247, 247, 30) 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #F7D72C;
  display: block;
  height: 50px;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.main-contacto .seccion2 form .bn31:hover {
  color: #fff;
}
.main-contacto .seccion2 form .bn31 .bn31span {
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}
.main-contacto .seccion2 form .bn31:hover .bn31span {
  background: transparent;
}
.main-contacto .seccion3 {
  grid-area: seccion3;
  text-align: center;
  padding: 20px;
}
.main-contacto .seccion3 h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #F7D72C;
}
.main-contacto .seccion3 iframe {
  width: 80vw;
  border-radius: 20px;
}
.main-contacto .seccion4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  grid-area: seccion4;
  padding: 5%;
  text-align: center;
  color: white;
}
.main-contacto .seccion4 h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #F7D72C;
}
.main-contacto .seccion4 h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #F7D72C;
  padding-top: 20px;
}
.main-contacto .seccion4 p:nth-last-child(2) {
  background-color: #474747;
  border-radius: 20px;
  color: white;
}
.main-contacto .seccion4 .reloj {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.main-contacto .seccion4 .reloj img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  border-radius: 50%;
}
.main-contacto .seccion4 .reloj p {
  margin-bottom: 0;
  text-align: left;
}

/* Main - Sobre nosotros */
.main-sobre-nosotros {
  text-align: center;
  overflow-x: hidden;
  font-family: cursive;
  font-size: 20px;
}
.main-sobre-nosotros div .seccion1 {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/fondo6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-sobre-nosotros div .seccion1 h1 {
  font-weight: bold;
  color: #F7D72C;
}
.main-sobre-nosotros div .seccion1 p {
  color: white;
  padding: 20px;
}
.main-sobre-nosotros div .container-info {
  padding: 30px;
  padding-top: 0;
  background: linear-gradient(to bottom, black 10%, #F7D72C);
}
.main-sobre-nosotros div .container-info :nth-child(odd) {
  display: flex;
}
.main-sobre-nosotros div .container-info :nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}
.main-sobre-nosotros div .container-info section {
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 15px black;
  background-color: rgb(232, 238, 244);
  margin-bottom: 50px;
}
.main-sobre-nosotros div .container-info section div img {
  object-fit: cover;
  height: 50vh;
  width: 25vw;
  border-radius: 50%;
}
.main-sobre-nosotros div .container-info section .parrafo {
  display: block;
  width: 50vw;
}
.main-sobre-nosotros div .container-info section .parrafo h2 {
  text-align: center;
  font-weight: bold;
}
.main-sobre-nosotros div .container-info section .parrafo p {
  text-align: left;
}
.main-sobre-nosotros div .seccion2 {
  background: #F7D72C;
}

/* Main - Instalaciones */
.main-instalaciones {
  text-align: center;
  background: #121212;
}
.main-instalaciones h1 {
  font-weight: bold;
  color: #F7D72C;
  padding: 20px;
}
.main-instalaciones img { /*estilos para todas las img*/
  height: 30vh;
  width: 40vw;
  object-fit: cover;
  border-radius: 20px;
  border: solid 1px white;
}
.main-instalaciones .seccion-entrenamiento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr, repeat(2, 1fr);
  gap: 5px;
  align-items: start;
  justify-items: center;
  grid-template-areas: "titulo titulo" "pesas cardio" "funcional sala";
}
.main-instalaciones .seccion-entrenamiento .titulo {
  grid-area: titulo;
  color: white;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  margin-top: 20px;
  background-color: white;
  width: 100%;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.main-instalaciones .seccion-entrenamiento .titulo h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main-instalaciones .seccion-entrenamiento .pesas, .main-instalaciones .seccion-entrenamiento .sala, .main-instalaciones .seccion-entrenamiento .funcional, .main-instalaciones .seccion-entrenamiento .cardio {
  grid-area: pesas;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: black;
  border-radius: 20px;
  border: solid 4px #F7D72C;
  box-shadow: 2px 2px 8px white;
}
.main-instalaciones .seccion-entrenamiento .pesas h3, .main-instalaciones .seccion-entrenamiento .sala h3, .main-instalaciones .seccion-entrenamiento .funcional h3, .main-instalaciones .seccion-entrenamiento .cardio h3 {
  color: #F7D72C;
  text-transform: uppercase;
}
.main-instalaciones .seccion-entrenamiento .pesas p, .main-instalaciones .seccion-entrenamiento .sala p, .main-instalaciones .seccion-entrenamiento .funcional p, .main-instalaciones .seccion-entrenamiento .cardio p {
  padding-top: 20px;
}
.main-instalaciones .seccion-entrenamiento .cardio {
  grid-area: cardio;
}
.main-instalaciones .seccion-entrenamiento .funcional {
  grid-area: funcional;
}
.main-instalaciones .seccion-entrenamiento .sala {
  grid-area: sala;
}
.main-instalaciones .seccion-relajacion, .main-instalaciones .seccion-vestuario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr, 1fr;
  gap: 5px;
  align-items: start;
  justify-items: center;
  grid-template-areas: "titulo titulo" "estiramiento descanso";
}
.main-instalaciones .seccion-relajacion .titulo, .main-instalaciones .seccion-vestuario .titulo {
  grid-area: titulo;
  color: white;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  margin-top: 20px;
  background-color: white;
  width: 100%;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.main-instalaciones .seccion-relajacion .titulo h2, .main-instalaciones .seccion-vestuario .titulo h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main-instalaciones .seccion-relajacion .estiramiento, .main-instalaciones .seccion-vestuario .estiramiento, .main-instalaciones .seccion-relajacion .descanso, .main-instalaciones .seccion-vestuario .descanso {
  grid-area: estiramiento;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: black;
  border-radius: 20px;
  border: solid 4px #F7D72C;
  box-shadow: 2px 2px 8px white;
}
.main-instalaciones .seccion-relajacion .estiramiento h3, .main-instalaciones .seccion-vestuario .estiramiento h3, .main-instalaciones .seccion-relajacion .descanso h3, .main-instalaciones .seccion-vestuario .descanso h3 {
  color: #F7D72C;
  text-transform: uppercase;
}
.main-instalaciones .seccion-relajacion .estiramiento p, .main-instalaciones .seccion-vestuario .estiramiento p, .main-instalaciones .seccion-relajacion .descanso p, .main-instalaciones .seccion-vestuario .descanso p {
  padding-top: 20px;
}
.main-instalaciones .seccion-relajacion .descanso, .main-instalaciones .seccion-vestuario .descanso {
  grid-area: descanso;
}
.main-instalaciones .seccion-vestuario {
  grid-template-areas: "titulo titulo" "vestuarios duchas";
}
.main-instalaciones .seccion-vestuario .titulo {
  grid-area: titulo;
  color: white;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  margin-top: 20px;
  background-color: white;
  width: 100%;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.main-instalaciones .seccion-vestuario .titulo h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main-instalaciones .seccion-vestuario .vestuarios, .main-instalaciones .seccion-vestuario .duchas {
  grid-area: vestuarios;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: black;
  border-radius: 20px;
  border: solid 4px #F7D72C;
  box-shadow: 2px 2px 8px white;
}
.main-instalaciones .seccion-vestuario .vestuarios h3, .main-instalaciones .seccion-vestuario .duchas h3 {
  color: #F7D72C;
  text-transform: uppercase;
}
.main-instalaciones .seccion-vestuario .vestuarios p, .main-instalaciones .seccion-vestuario .duchas p {
  padding-top: 20px;
}
.main-instalaciones .seccion-vestuario .duchas {
  grid-area: duchas;
}

/* Main - Tienda */
.main-tienda {
  text-align: center;
  background: linear-gradient(to bottom, black 10%, #F7D72C);
}
.main-tienda img { /*estilo para todas las img*/
  height: 40vh;
  width: 30vw;
}
.main-tienda .seccion1 {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagenes/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-tienda .seccion1 h1 {
  font-weight: bold;
  color: #F7D72C;
}
.main-tienda .productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}
.main-tienda .productos h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  margin-top: 20px;
  background-color: white;
  width: 100%;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.main-tienda .productos .contenedor-tarjetas {
  justify-content: center;
  align-content: center;
  gap: 10px;
  margin-top: 20px;
  --bs-gutter-x: 0;
}
.main-tienda .productos .contenedor-tarjetas .card {
  border-radius: 10px;
  width: 300px;
  color: white;
  background-color: black;
  box-shadow: 5px 5px 15px black;
}
.main-tienda .productos .contenedor-tarjetas .card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

/* Styles Responsive */
/* [VISTA TABLET] */
@media screen and (max-width: 1024px) {
  /* Header - general */
  header {
    display: flex;
    flex-direction: none;
    justify-content: space-between;
    align-items: center;
  }
  header .logo {
    display: block;
    height: 120px;
    width: 120px;
    margin-left: 25px;
  }
  header #btn_menu:checked ~ .menu {
    visibility: visible;
  }
  header label {
    display: block;
    position: relative;
    right: 25px;
    border-radius: 50%;
  }
  header label img {
    width: 50px;
  }
  header .menu {
    position: absolute;
    top: 120px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    visibility: hidden;
    justify-content: center;
  }
  header .menu a .logo-hidden {
    display: none;
  }
  header .menu ul {
    flex-direction: column;
    align-items: center;
  }
  /* ---HOME / index--- */
  .main-home .seccion1 {
    padding-bottom: 10px;
  }
  .main-home .seccion1 h1 {
    font-size: 2.5rem;
  }
  .main-home .seccion1 p {
    font-size: 1.5rem;
  }
  .main-home .seccion3 h2 {
    font-size: 2.5rem;
  }
  .main-home .seccion3 p {
    font-size: 1.5rem;
  }
  /*---CONTACTO---*/
  .main-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-contacto .seccion2 {
    width: 80%;
  }
  .main-contacto .seccion3 iframe {
    width: 80vw;
  }
  .main-contacto .seccion4 .reloj {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
  .main-contacto .seccion4 .reloj p {
    text-align: center;
  }
  /*---SOBRE NOSOTROS---*/
  .main-sobre-nosotros div .container-info img {
    height: 40%;
  }
}
/* [VISTA MOBILE] */
@media screen and (max-width: 768px) {
  /*---HOME---*/
  .main-home .seccion1 {
    padding-bottom: 5vh;
    padding-top: 5vh;
    height: 80vh;
  }
  .main-home .seccion1 h1 {
    font-size: 2rem;
  }
  .main-home .seccion1 p {
    font-size: 1rem;
    padding: 20px;
  }
  .main-home .seccion3 h2 {
    font-size: 2rem;
    padding-top: 20px;
  }
  .main-home .seccion3 p {
    font-size: 1rem;
  }
  /*---CONTACTO---*/
  .main-contacto .seccion2 {
    padding: 5px;
  }
  .main-contacto .seccion2 h2 {
    margin-bottom: 30px;
  }
  .main-contacto .seccion2 form {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-contacto .seccion3 iframe {
    width: 80vw;
    border-radius: 50%;
    width: auto;
  }
  /*---SOBRE NOSOTROS---*/
  .main-sobre-nosotros div .seccion1 p {
    display: none;
  }
  .main-sobre-nosotros div .container-info :nth-child(odd),
  .main-sobre-nosotros div .container-info :nth-child(even) {
    flex-direction: column;
  }
  .main-sobre-nosotros div .container-info section div img {
    height: 200px;
    width: 200px;
  }
  .main-sobre-nosotros div .container-info section .parrafo {
    width: 80vw;
    padding: 5px;
  }
  .main-sobre-nosotros div .container-info section .parrafo h2 {
    justify-content: center;
  }
  .main-sobre-nosotros div .container-info section .parrafo p {
    text-align: center;
  }
  /*---INSTALACIONES---*/
  .main-instalaciones {
    padding: 20px;
  }
  .main-instalaciones .seccion-entrenamiento {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr, repeat(4, 1fr);
    gap: 5px;
    align-items: start;
    justify-items: center;
    grid-template-areas: "titulo" "pesas" "cardio" "funcional" "sala";
  }
  .main-instalaciones .seccion-relajacion, .main-instalaciones .seccion-vestuario {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr, repeat(2, 1fr);
    gap: 5px;
    align-items: start;
    justify-items: center;
    grid-template-areas: "titulo" "estiramiento" "descanso";
  }
  .main-instalaciones .seccion-vestuario {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr, repeat(2, 1fr);
    gap: 5px;
    align-items: start;
    justify-items: center;
    grid-template-areas: "titulo" "vestuarios" "duchas";
  }
}

/*# sourceMappingURL=main.css.map */
