/* Main - Instalaciones */

.main-instalaciones {
    text-align: center;
    background: linear-gradient(to bottom, black, #F7D72C, #8F8F8F);

    h1 {
        font-weight: bold;
        color: #F7D72C;
        padding-top: 20px;
    }
    
    img { /*estilos para todas las img*/
        height: 30vh;
        width: 40vw;
        object-fit: cover;
        border-radius: 20px;
        border: solid 1px white;
    }

    .seccion-entrenamiento {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.5fr, repeat(2, 1fr);
        gap: 5px;
        grid-template-areas: "titulo titulo" "pesas cardio" "funcional sala";
        align-items: center;
        justify-items: center;

        .titulo {
            grid-area: titulo;
            padding: 10px;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-transform: uppercase;
            -webkit-text-stroke: 2px black;
            margin-top: 20px;
            background-color: rgba(255, 255, 255, 0.83);
            width: 100%;
        }

        .pesas {
            grid-area: pesas;
            padding: 10px;
            margin: 10px;
            color: white;
            background-color: black;
            border-radius: 20px;
            border: solid 2px white;
        }

        .cardio {
            grid-area: cardio;
            padding: 10px;
            margin: 10px;
            color: white;
            background-color: black;
            border-radius: 20px;
            border: solid 2px white;
        }

        .funcional {
            grid-area: funcional;
            padding: 10px;
            margin: 10px;
            color: white;
            background-color: black;
            border-radius: 20px;
            border: solid 2px white;
        }

        .sala {
            grid-area: sala;
            padding: 10px;
            margin: 10px;
            color: white;
            background-color: black;
            border-radius: 20px;
            border: solid 2px white;
        }
    }

    .seccion-relajacion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.5fr, 1fr;
        gap: 5px;
        grid-template-areas: "titulo titulo" "estiramiento descanso";
        align-items: center;
        justify-items: center;

        .titulo {
            grid-area: titulo;
            padding: 10px;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-transform: uppercase;
            -webkit-text-stroke: 2px black;
            margin-top: 20px;
            background-color: rgba(255, 255, 255, 0.83);
            width: 100%;
        }

        .estiramiento {
            grid-area: estiramiento;
            padding: 10px;
            margin: 10px;
            color: white;
            background-color: black;
            border-radius: 20px;
            border: solid 2px white;
        }

        .descanso {
            grid-area: descanso;
            padding: 10px;
            margin: 10px;
            color: white;
            background-color: black;
            border-radius: 20px;
            border: solid 2px white;
        }
    }

    .seccion-vestuario {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.5fr, 1fr;
        gap: 5px;
        grid-template-areas: "titulo titulo" "vestuarios duchas";
        align-items: center;
        justify-items: center;

        .titulo {
            grid-area: titulo;
            padding: 10px;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-transform: uppercase;
            -webkit-text-stroke: 2px black;
            margin-top: 20px;
            background-color: rgba(255, 255, 255, 0.83);
            width: 100%;
        }

        .vestuarios {
            grid-area: vestuarios;
            padding: 10px;
            margin: 10px;
            color: white;
            background-color: black;
            border-radius: 20px;
            border: solid 2px white;
        }

        .duchas {
            grid-area: duchas;
            padding: 10px;
            margin: 10px;
            color: white;
            background-color: black;
            border-radius: 20px;
            border: solid 2px white;
        }
    }
}