/* Main - Sobre nosotros */

.main-sobre-nosotros {
    text-align: center;
    overflow-x: hidden;
    font-size: 20px;

    div {
        .seccion1 {
            height: 50vh;
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/fondo6.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            @include flex(column, center, center);
            padding: 30px;
            
            h1{
                @include titulo-html;
            }
            p {
                color: nth($list: $colores, $n: 3);
                padding: 20px;
            }
        }

        .container-info {
            padding: 30px;
            padding-top: 0;
            background: linear-gradient(to bottom, nth($list: $colores, $n: 2) 10%, nth($list: $colores, $n: 1));

            :nth-child(odd) {
                display: flex;
            }

            :nth-child(even) {
                display: flex;
                flex-direction: row-reverse;
            }

            section {
                padding: 30px;
                align-items: center;
                justify-content: space-between;
                box-shadow: 5px 5px 15px nth($list: $colores, $n: 2);
                background-color: rgb(232, 238, 244);
                margin-bottom: 50px;

                div{
                    img {
                        object-fit: cover;
                        height: 50vh;
                        width: 25vw;
                        border-radius: 50%;
                    }
                }

                .parrafo {
                    display: block;
                    width: 50vw;
    
                    h2 {
                        text-align: center;
                        font-weight: bold;
                        color: nth($list: $colores, $n: 1 );
                        -webkit-text-stroke: 1px nth($list: $colores, $n: 2);
                        text-shadow: 2px 2px 5px nth($list: $colores, $n: 2 );
                    }
    
                    p {
                        text-align: left;
                    }
                }
            }            
        }

        .seccion2 {
            background: nth($list: $colores, $n: 1);
            div{
                padding: 0;
                border-radius: 20px;
                background-color: nth($list: $colores, $n: 2 );
                box-shadow: 2px 2px 8px nth($list: $colores, $n: 2 );
                div{
                    color: nth($list: $colores, $n: 3 );
                    background-color: nth($list: $colores, $n: 2 );
                    border-radius: 20px;
                    border: solid 5px nth($list: $colores, $n: 1 );
                    
                    h3{
                        color: nth($list: $colores, $n: 1 );
                        padding: 10px;
                        margin: 10px;
                    }
                    p{
                        padding: 10px;
                        margin: 10px;
                    }
                }
            }
        }
    }
}