/* Main Contacto */

.main-contacto {
    background-color: #121212;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr, 1fr, 0.5fr;
    grid-template-areas: "seccion1 seccion1" "seccion2 seccion4" "seccion3 seccion3";
    font-family: 'Reno', sans-serif;
    font-size: 20px;
    overflow: hidden;

    .seccion1 {
        grid-area: seccion1;
        text-align: center;
        padding: 5%;
        color: rgba(255, 255, 255, 0.779);
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagenes/fondo-grupo.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #1E1E1E;

        h1 {
            font-weight: bold;
            color: nth($list: $colores, $n: 1 );
            text-shadow: 3px 3px 5px grey;
        }

        p{
            color: white;
            text-shadow: 5px 5px 5px rgb(0, 0, 0);
        }
    }

    .seccion2 {
        background-color: white;
        grid-area: seccion2;
        justify-content: center;
        align-content: center;
        padding: 20px;
        margin: 30px;
        border-radius: 40px;
        border: solid 2px black;
        box-shadow: 3px 3px 10px #F7D72C;

        h2 {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 50px;
        }
        /*componente formulario va en esta posición */   
    }

    .seccion3 {
        grid-area: seccion3;
        text-align: center;
        padding: 20px;

        h2 {
            text-transform: uppercase;
            font-weight: bold;
            color: #F7D72C;
        }

        iframe {
            width: 80vw;
            border-radius: 20px;
        }
    }

    .seccion4 {
        grid-area: seccion4;
        padding: 5%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        color: white;

        h2 {
            text-transform: uppercase;
            font-weight: bold;
            color: #F7D72C;
        }

        h3 {
            text-transform: uppercase;
            font-weight: bold;
            color: #F7D72C;
            padding-top: 20px;
        }

        p:nth-last-child(2) {
            background-color: #474747;
            border-radius: 20px;
            color: white;
        }

        .reloj {
            display: flex;
            align-items: center;

            img {
                width: 200px;
                height: 200px;
                margin-right: 20px;
                border-radius: 50%;
            }

            p {
                margin-bottom: 0;
                text-align: left;
            }
        }
    }
}
