/* Main Index / --HOME-- */

.main-home {
    text-align: center;
    color: nth($list: $colores, $n: 3);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/mancuernero.jpg);
    background-attachment:fixed;
    overflow-x: hidden;

    .seccion1 {
        padding-bottom: 10vh;
        padding-top: 10vh;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondo3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;

        h1 {
            font-size: 48px;
            font-weight: 750;
            padding: 0 30px 0 30px;
            text-transform: uppercase; /*texto a letra mayúscula*/
            text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            padding-bottom: 40px;

            strong {
                color: nth($list: $colores, $n: 1);
            }
        }

        p {
            font-size: $texto-size;
            padding: 0 60px 0 60px;
            text-shadow: 5px 5px 5px rgb(0, 0, 0);
            padding-bottom: 30px;
        }
    }

    .seccion2 {
        @include flex(column, center, center);

        h2 {
            padding-bottom: 15px;
            margin-top: 30px;
            color: nth($list: $colores, $n: 1);
            text-shadow: 5px 5px 5px nth($list: $colores, $n: 2);
            font-weight: bold;
        }

        .container-cards {
            @include flex(row, center, none);
            padding: 0px 10px 50px 15px;
            flex-wrap: wrap;

            .card {
                list-style-type: none;
                padding: 10px;
                margin: 15px;
                width: 250px;
                height: auto;
                border-radius: 10px;
                border: solid 2px nth($list: $colores, $n: 2);
                overflow: hidden;
                background-color: nth($list: $colores, $n: 3);
                position: static;
                transition: 0.7s;
                box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 2px nth($list: $colores, $n: 1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
                &:hover{
                    transform: scale(1.1);
                }
                
                h3 {
                    padding-bottom: 30px;
                    color: nth($list: $colores, $n: 2);
                    text-shadow: 2px 2px 3px nth($list: $colores, $n: 1);
                    font-weight: bold;
                }
    
                p {
                    font-size: 18px;
                    color: nth($list: $colores, $n: 2);
                    text-align: center;
                }
            }
        }
    }

    .seccion3 {
        padding: 30px;
        backdrop-filter: blur(10px);

        h2 {
            text-transform: uppercase;
            color: nth($list: $colores, $n: 1);
            padding-bottom: 15px;
            text-shadow: 5px 5px 5px nth($list: $colores, $n: 2);
        }

        p {
            padding-bottom: 20px;
            text-shadow: 5px 5px 5px rgb(0, 0, 0);
            font-size: 1.5rem;
        }

        a {
            text-decoration: none;
            background-color: nth($list: $colores, $n: 1);
            font-size: 18px;
            color: nth($list: $colores, $n: 2);
            padding: 10px;
            border-radius: 15px;
            border: 2px solid nth($list: $colores, $n: 2);
            box-shadow: 2px 2px 10px nth($list: $colores, $n: 3);
            margin: 15px;
            cursor: pointer;
            &:hover{
                border: 3px solid nth($list: $colores, $n: 2);
                box-shadow: 5px 5px 15px nth($list: $colores, $n: 1);
            }
        }
    }
}