/* Main - Instalaciones */

.main-instalaciones {
    text-align: center;
    background: #121212;

    h1 {
        font-weight: bold;
        color: nth($list: $colores, $n: 1);
        padding-top: 20px;
    }
    
    img { /*estilos para todas las img*/
        height: 30vh;
        width: 40vw;
        object-fit: cover;
        border-radius: 20px;
        border: solid 1px nth($list: $colores, $n: 3);
    }

    .seccion-entrenamiento {
        @include grid(repeat(2, 1fr), (0.5fr, repeat(2, 1fr)), 5px, start, center);
        grid-template-areas: "titulo titulo" "pesas cardio" "funcional sala";
        
        .titulo {
            @include titulo-seccion;
        }

        .pesas {
            grid-area: pesas;
            @include tarjeta-instalaciones;
            h3{
                @include titulo-tarjeta;
            }
        }

        .cardio {
            grid-area: cardio;
            @include tarjeta-instalaciones;
            h3{
                @include titulo-tarjeta;
            }
        }

        .funcional {
            grid-area: funcional;
            @include tarjeta-instalaciones;
            h3{
                @include titulo-tarjeta;
            }
        }

        .sala {
            grid-area: sala;
            @include tarjeta-instalaciones;
            h3{
                @include titulo-tarjeta;
            }
        }
    }

    .seccion-relajacion {
        @include grid(repeat(2, 1fr), (0.5fr, 1fr), 5px, start, center );
        grid-template-areas: "titulo titulo" "estiramiento descanso";

        .titulo {
            @include titulo-seccion;
        }

        .estiramiento {
            grid-area: estiramiento;
            @include tarjeta-instalaciones;
            h3{
                @include titulo-tarjeta;
            }
        }

        .descanso {
            grid-area: descanso;
            @include tarjeta-instalaciones;
            h3{
                @include titulo-tarjeta;
            }
        }
    }

    .seccion-vestuario {
        @include grid(repeat(2, 1fr), (0.5fr, 1fr), 5px, start, center );
        grid-template-areas: "titulo titulo" "vestuarios duchas";

        .titulo {
            @include titulo-seccion;
        }

        .vestuarios {
            grid-area: vestuarios;
            @include tarjeta-instalaciones;
            h3{
                @include titulo-tarjeta;
            }
        }

        .duchas {
            grid-area: duchas;
            @include tarjeta-instalaciones;
            h3{
                @include titulo-tarjeta;
            }
        }
    }
}