/* Main - Tienda */

.main-tienda {
    text-align: center;
    background: linear-gradient(to bottom, black 10%, #F7D72C);

    /*estilo para todas las img*/
    img {
        height: 40vh;
        width: 30vw;
    }

    .seccion1 {
        height: 50vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        padding: 30px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagenes/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        h1 {
            font-weight: bold;
            color: #F7D72C;
        }
    }

    .productos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        color: white;

        h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-transform: uppercase;
            -webkit-text-stroke: 1px black;
            margin-top: 20px;
            background-color: white;
            width: 100%;
            border-top: solid 2px black;
            border-bottom: solid 2px black;
        }

        .contenedor-tarjetas {
            justify-content: center;
            align-content: center;
            gap: 10px;
            margin-top: 20px;
            --bs-gutter-x: 0;

            .card {
                border-radius: 10px;
                width: 300px;
                color: white;
                background-color: black;
                box-shadow: 5px 5px 15px black;

                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px 10px 0 0;
                    overflow: hidden;
                }
            }           
        }
    }
}