/* Main Index / --HOME-- */

.main-home {
    font-size: 25px;
    text-align: center;
    color: nth($list: $colores, $n: 3);
    overflow-x: hidden;

    .seccion1 {
        padding-bottom: 10vh;
        padding-top: 10vh;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondo3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        h1 {
            font-size: 3rem;
            font-weight: 750;
            padding: 0 30px 0 30px;
            text-transform: uppercase; /*texto a letra mayúscula*/
            text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            padding-bottom: 40px;

            strong {
                color: nth($list: $colores, $n: 1);
            }
        }

        p {
            font-size: 1.5rem;
            padding: 0 60px 0 60px;
            text-shadow: 5px 5px 5px rgb(0, 0, 0);
            padding-bottom: 30px;
        }
    }

    .seccion2 {
        @include flex(column, center, center);
        background-image: linear-gradient(#080B0A, #373737);

        h2 {
            font-family: $fuente-titulo;
            padding-bottom: 15px;
            margin-top: 15px;
            color: nth($list: $colores, $n: 1);
            text-transform: uppercase;
            text-shadow: 5px 5px 5px rgb(0, 0, 0);
        }

        .container-cards {
            @include flex(row, center, none);
            padding: 0px 10px 50px 15px;
            flex-wrap: wrap;

            .card {
                list-style-type: none;
                padding: 10px;
                margin: 15px;
                width: 250px;
                height: 350px;
                box-shadow: 2px 2px 10px nth($list: $colores, $n: 1);
                border-radius: 10px;
                border: solid 2px nth($list: $colores, $n: 2);
                overflow: hidden;
                background-color: nth($list: $colores, $n: 3);
                position: static;
                &:hover{
                    transform: scale(1.1);
                }
                
                h3 {
                    padding-bottom: 30px;
                    color: nth($list: $colores, $n: 2);
                    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.467);
                }
    
                p {
                    font-size: 18px;
                    color: nth($list: $colores, $n: 2);
                    text-align: center;
                }
            }
        }
    }

    .seccion3 {
        padding: 30px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        h2 {
            text-transform: uppercase;
            padding-bottom: 15px;
            text-shadow: 5px 5px 5px rgb(0, 0, 0);
        }

        p {
            padding-bottom: 20px;
            text-shadow: 5px 5px 5px rgb(0, 0, 0);
        }

        a {
            text-decoration: none;
            background-color: nth($list: $colores, $n: 1);
            font-size: 18px;
            color: nth($list: $colores, $n: 2);
            padding: 10px;
            border-radius: 15px;
            border: 2px solid nth($list: $colores, $n: 2);
            box-shadow: 2px 2px 10px nth($list: $colores, $n: 3);
            margin: 15px;
            cursor: pointer;
        }
    }
}