/* Main - Tienda */

.main-tienda {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondo5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    font-size: 20px;

    img {     /*estilo para todas las img*/
        height: 40vh;
        width: 30vw;
    }

    .seccion1 {
        width: 100%;
        @include flex(column, none, center);
        color: nth($list: $colores, $n: 3);
        padding: 30px;
        padding-bottom: 10px;

        h1 {
            @include titulo-html;
        }
        p{
            text-shadow: 5px 5px 5px nth($list: $colores, $n: 2);
        }
    }

    .productos {
        @include flex(column, center, center);
        width: 100%;
        color: nth($list: $colores, $n: 3);

        h2 {
            font-family: $fuente-titulo;
            text-transform: uppercase;
            -webkit-text-stroke: 1px nth($list: $colores, $n: 2);
            margin-top: 20px;
            background-color: nth($list: $colores, $n: 3);
            width: 100%;
            border-top: solid 2px nth($list: $colores, $n: 2);
            border-bottom: solid 2px nth($list: $colores, $n: 2);
        }

        .contenedor-tarjetas {
            justify-content: center;
            align-content: center;
            gap: 10px;
            margin-top: 20px;
            --bs-gutter-x: 0;

            .card {
                border-radius: 10px;
                width: 300px;
                color: nth($list: $colores, $n: 3);
                background-color: nth($list: $colores, $n: 2);
                box-shadow: 5px 5px 15px nth($list: $colores, $n: 3);

                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px 10px 0 0;
                    overflow: hidden;
                }
                div{
                    h3{
                        color: nth($list: $colores, $n: 1);
                        font-weight: bold;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }           
        }
    }
}