$fuente-copyright: cursive; //candara
$fuente-titulo: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fuente-reno: 'Reno', sans-serif;
$fuente-candara: candara;
$titulo-principal-size: 3rem;
$texto-size: 1.5rem;
