/* Footer */

footer {
    text-align: center;
    padding-bottom: 5px;
    border-top: 2px solid nth($list: $colores, $n: 3);
    background-color: nth($list: $colores, $n: 2);
    display: grid;


    img {
        height: 140px;
        width: 150px;
        top: 50px;
        left: 130px;
        place-self: center;
    }

    .redes {
        padding-bottom: 5px;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                display: inline-block;
                padding: 0px 20px 0px 20px;
                
                a {
                    text-decoration: none;

                    img {
                        background-color: nth($list: $colores, $n: 2);
                        height: 30px;
                        width: 30px;
                        padding: 0;
                        filter: none;
                    }
                }
            }
        }
    }

    .copyright {
        font-family: $fuente-copyright;
        text-align: center;
        color: nth($list: $colores, $n: 3);
        margin-top: 0.5em;
    }
}